*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;

  font-family: sans-serif;
}

.orange{
  color: #ffa000;
}
.bg-orange{
  background-color: #ffa000;
}





//
.absolute-lg {
  position: relative;
}
//
// .bg-xs-white{
//   background-color: white!important;
// }
@media (min-width: 768px) {
  .absolute-lg {
    position: absolute;
  }
  .position-top-lg{
    top: 0px;
  }
  .index-m-1{
    z-index: -1;
  }
  .navbar{
    //border-bottom: 1px solid #777;
  }
  .navbar-brand{
    //color: white!important;
    background-image: linear-gradient(to top, #ff0844 0%, #ffb199 100%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent!important;
  }
  .nav-link{
    //color: lightgrey!important;
  }

  .native-navbar{
    .navbar-brand{
      // background-image: linear-gradient(-225deg, #FF057C 0%, #8D0B93 50%, #321575 100%);
      // background-clip: text;
      // -webkit-background-clip: text;
      color: white!important;
    }
    .nav-link{
      color: white!important;
    }
  }
}

.navbar{
  z-index: 999;
}


section{
  overflow: hidden;
}

//Carousel
#carousel{
  width: 100%;
  overflow: hidden;
}

//Cursor
.cursor-pointer{
  cursor: pointer;
}

//Flex
#fees{
  .d-flex{
    .flex-item{
      width: 25%;
    }
  }
}

//Organiser
#organiser{
  .d-flex{
    .flex-item{
      &:hover{
        background-color: #eee;
      }
    }
  }
}

.requireScroll{
    position: relative;
    width: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    transition: all 0.2s;
    transform: scale(0.98);
    will-change: transform;
    user-select: none;
    cursor: pointer;

    &::-webkit-scrollbar{
      display: none;
    }
}
.requireScroll.grabbed{
  cursor:grabbing!important;
}

.nextScroll{
  right: 0px;
  bottom: 50%;
}

#intro{
  //background-image: $intro-bg;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.neils-head{
  h2{
    font-family: sans-serif;
    background-image: linear-gradient(-225deg, #FF057C 0%, #8D0B93 50%, #321575 100%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent!important;
    span{
      font-family: sans-serif;
      background-image: linear-gradient(to top, #f77062 0%, #fe5196 100%);
      background-clip: text;
      -webkit-background-clip: text;
      color: transparent!important;
    }
  }
  span{
    font-weight: 400;
    color: purple;
  }
}


#showcase{
  padding: 6rem 0;
  background: #000;
  //background-image: linear-gradient(to left, #ff0844 0%, #ffb199 100%);
  h1{

    color: white;
    span{
      background-image: linear-gradient(to right, #ff0844 0%, #ffb199 100%);
      background-clip: text;
      -webkit-background-clip: text;
      color: transparent!important;
    }
  }
}

#schedule{
  ul{
    li{
      cursor: pointer;
      color: white;
      font-weight: bold;
      &.active{
        color: red!important;
        background-color: white!important;
      }
    }
  }
}

.blinkme{
  animation: blink 3s linear infinite;
}

@keyframes blink{
0%{ opacity: 1; color: skyblue;}
10%{opacity: 1; color: skyblue;}
20%{opacity: 1; color: skyblue;}
30%{opacity: 0.5; color: skyblue;}
40%{opacity: 1; color: black;}
50%{opacity: 1; color: black;}
60%{opacity: 1; color: black;}
70%{opacity: 0.5; color: black;}
50%{opacity: 1; color: white;}
80%{opacity: 1; color: white;}
90%{opacity: 1; color: white;}
100%{opacity: 0.5; color: white;}
}


.map-container iframe{
	width: 100%;
	display: block;
	pointer-events: none;
	position: relative; /* IE needs a position other than static */
}
.map-container iframe.clicked{
	pointer-events: auto;
}
